body{
  background-image: url("../imagens/paper_texture.jpg");
  font-family: 'Halant', serif;
}

#decorativo1, #decorativo3{
  width:100%;
  border-bottom:solid 2px;
  border-color:#9e005e; 
     
}
#decorativo2{
  width:100%;
  border-bottom:solid 40px;
  border-color:black;
  margin-top:5px;  
}

#decorativo3{
  margin-top:5px;
}

#img-logo{
  width:30vw;
  height:10vh;
}

h1{
  font-weight: 500;
  font-size: 4em;
}